.catalog h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.catalog .Product{
    display: inline-block;
    width: 280px;
    height: fit-content;
    margin-bottom: 20px;
    margin-left: 20px;
}

.Filters{
    margin-bottom: 50px;
}

.Filters button{
    margin-right: 20px;
}