
.Product{
    background-color: #dededeaa;
    border-radius: 20px;
    margin: auto;
    padding-bottom: 10px;
    width: fit-content;
    font-family: 'Roboto Condensed', sans-serif;
}



.Product img{
    height: 200px;
    width: 250px;
}

.Product #addButton{
    margin-left: 20px;
}

