.quanPick{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 30px;
    
}

.quanPick button{
    border-radius: 10px;
    width: 30px;
}

.quanPick label{
    margin-left: 10px;
    margin-right: 10px;
}